

.terza {
    background-image: url("10-Tips-for-Pocket-Friendly-Budget-Travelling.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;  
}



.seconda{
    background-image: url("salva.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;

}

.prima {
   background-image: url("nuovo.png"); 
   background-size: cover;
   width: 100%;
   z-index: 3;
   height: 700px;
   
}


.misuraCarosel{
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 700px;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
    margin-top: 150px;


}

