.message{
    background-color: grey;
    text-align: center;
    height: 200px;
    width: 500px;
    color: white;
    opacity: 0.5;
    display: inline-block;
    margin-left: 500px;
    font-size: 37px;
    float: none;
}


.prima{
   margin-left: 600px;
    width: 300px;
    padding-bottom: 122px;
   
}


.terza {
    padding-bottom: 122px;
    
}


.borderbuttom{
	border-bottom: 1px solid white;
    padding-top: 44px;
}


.seconda{
    padding-bottom: 172px;

}