

.terza {
    background-image: url("terza.jpg");
    background-size: cover;
    width: 80%;
    height: 700px;  
}



.seconda{
    background-image: url("salva.jpg");
    background-size: cover;
    width: 80%;
    height: 700px;

}

.prima {
   background-image: url("nuovo.png"); 
   background-size: cover;
   width: 80%;
   z-index: 3;
   height: 700px;
   
}


.misuraCarosel{
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 80%;
    height: 700px;
    opacity: 1;
    visibility: inherit;
margin-top: 100%;
}

