.name {
  padding: 1.5em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
  
}

.contentName{
  margin:2.5%;
 
}

.sfondo{
  background-color: darkgrey;
  color: aliceblue;
}



.title{
	text-align: center;

}

.first{
	margin-top: 30px;
}

.and{
	text-align:center;
}

.foto{
   float: right;
 width: 30px;
}

.imageOne{
  width: 400px;
}

.imagetwo{
  width: 300px;
  margin-left: 155px;
}


.featurette-divider{
  border-bottom: 0.4rem solid #B2B2B2;

}


.contatti{
  text-align-last: center;
}

.megabutton{
  margin: 0;
}


.imageOne{
  width: 500px;
  height: 500px;
  margin-left: 120px;
}




