.name {
  padding: 1.5em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}

.title{
	text-align: center;

}

.first{
	margin-top: 30px;
}

.and{
	text-align:center;
}

.foto{
   float: right;
 width: 30px;
}