.style{
  font-family: 'Lato', sans-serif;
}


.name {
 
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
  
}

.contentName {
<<<<<<< HEAD
  margin-right: 0;
=======
  margin:2.5%;
>>>>>>> fb9fc664bfd5afcbcd90f124b158e188e5d350dd
 
}

.sfondo{
  background-color: rgb(202, 199, 199);
  color: aliceblue;
  margin: 0;
  padding: 0;

<<<<<<< HEAD
  
=======
>>>>>>> fb9fc664bfd5afcbcd90f124b158e188e5d350dd
}



.title{
	text-align: center;

}

.first{
	margin-top: 30px;
}

.and{
	text-align:center;
}

.foto{
   float: right;
 width: 30px;
}


.imagetwo{
  width: 300px;
  margin-left: 155px;
}


.featurette-divider{
  border-bottom: 0.4rem solid #B2B2B2;

}


.contatti{
  text-align-last: center;
}

.megabutton{
  margin: 0;
}


.imageOne{
  width: 500px;
  height: 500px;
  margin-left: 120px;
}




.no-padding{
  padding: 0;
  margin: 0;
}