.logo {
    width: 130px;
    border-radius: 100%;


}

.bg-dark-new{
    height: 250px;
    background-color:#0b0b0b57;
    position: absolute;
}

.fixed-top{
    position: absolute !important;
}

.box-logo{
    
    display: block;
    
}



.misure-box{
    width: 100%;
    text-align: center;
}

.border-boxTwo{
    display: block;
}