.logo {
    width: 150px;
    border-radius: 100%;
   

}

.bg-dark-new{
    
    background-color:#666666ad;
    
}

.fixed-top{
    position: absolute !important;
}

.box-logo{
    
    display: block;
    
}



.misure-box{
    width: 100%;
    text-align: center;
}
  
