  
  
  .app-header {
    border-bottom: 0.4rem solid #B2B2B2;
    background-color:transparent;
    color: white;
    z-index: 2;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}


.app-header::after {
    clear: both;
    margin:3%;
}

.app-logo {
    position: relative;
    height: 290px;
    margin: 0;
    float: lft;
    border-radius: 100%;
}


.topbar-content {
    position: relative;
    height: 21%;
    float: right;
    padding: 0.2rem;
    font-weight: 336;
    font-size: 19px;
    box-sizing: content-box;
    color: #64A6B5;
    text-decoration: none;
    margin: 61px;
}

.topbar-content::after {
    clear: both;
}