  
.header-backround-trasparent{
    height: 20%;
    left: 0px;
    right: 0px;
    z-index: 99;
    line-height: 0.7;
    position: absolute;
   

}

.color-header{
    border-color: #e8e8e8;
    border-bottom-width: 0px;
    position: relative;
    border-bottom-style: solid;
    line-height:1.7;
    margin-left: auto;
    margin-right: auto;
}

.header-backround{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #0a0a0a4d;
}

.header-container{
    
    border-color: #e1e1e1;
    max-width: 1180px;
}

.header-containerinte-clearfix{
    zoom: 1;
    border-color: #e1e1e1;
    position: relative;
    padding-left: 50%;
    padding-right: 15px;
}

.logo{
    width: 70%;
    border-radius: 100%;
    vertical-align: middle;
    max-width: 70%;
    height: auto;
}


.second-header{
    text-align: center;
    position: relative;
    line-height: 1;
    zoom: 1;
    border-color: #e1e1e1;
    padding-top: 25px;
}

.main-menu{
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
}

.menu-principale{
    list-style: none;
    margin-left: 0px;
    

}
.menu{
    padding-left: 0px;
    padding-right: 21px;
    float: left;
    cursor: pointer;
    color: beige;
    
}

.slide-bar{
    width: 50px;
    left: 300px;
    display: block;
    overflow: hidden;
}

